/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



///////////////////

$max-width: 1200px;


@mixin transform($arg) {

	-webkit-transform: $arg;
	-ms-transform: $arg;
	transform: $arg;

}


@mixin bg-grain {
	
	background: url("/images/bg.png") repeat;

}


@mixin red-gradient() {

	background: url("/images/bg.png") repeat, #a13939;
	background: url("/images/bg.png") repeat, -moz-linear-gradient(top, #a13939 51%, #8e3333 54%, #7a2c2c 100%);
	background: url("/images/bg.png") repeat, -webkit-linear-gradient(top, #a13939 51%,#8e3333 54%,#7a2c2c 100%);
	background: url("/images/bg.png") repeat, linear-gradient(to bottom, #a13939 51%,#8e3333 54%,#7a2c2c 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a13939', endColorstr='#7a2c2c',GradientType=0 );
}


html {

	height: 100%;

}


body {

	background: white;
	height: 100%;

	min-width: 525px;

	display: flex;
	flex-direction: column;

}

footer {
	margin-top: auto;
}


.headers *::selection, .about *::selection {

	background: rgba(255, 117, 154, 0.8);;

}


footer *::selection {

	background: rgba(50, 50, 50, 0.8);

}



$header-height: 400px;

.headers {

	text-align: center;
	@include red-gradient;
	min-height: $header-height;

	position: fixed;
	top: 0;
	width: 100%;
	max-width: $max-width;

	// Speed hack
	-webkit-transform: translate3d(0, 0, 0);
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;


	border: 4px solid #772929;
	border-top: none;

	z-index: 0;

}


.headers > hgroup {

	position: absolute;
	top: 50%;
	left: 50%;
	@include transform(translate(-50%, -50%));
	
}


hgroup a {

	text-decoration: none;

}


h1, h3 {

	font-weight: bold;
	font-family: 'Lobster', cursive;

	color: #FCC88A;
	text-shadow: 1px 1px #ffdfba, 1px 3px 5px #000000;

}

h1 {
	font-size: 60px;
}

h3 {
	font-size: 50px;
}


h2 {

	margin-top: 5px;

	font-weight: bold;
	font-size: 30px;

	font-family: 'Alegreya';

	color: #C2C57F;
	text-shadow: 1px 2px #000000;

}


.shaders {

	position: relative;
	top: -50px;
	height: 50px;
	overflow: hidden;

	@media (min-width: $max-width + 100px) {

		overflow: visible;

	}

	div {

		position: absolute;
		top: 0;

		height: 50px;
		
	}


	div:first-child {

		left: -50px;
		background: url("/images/bd2.png") repeat-x;
		height: 100px;
		width: 100px;

	}


	div {

		left: 50px;
		width: calc(100% - 100px);

		background: url("/images/bd1.png") repeat-x;

	}


	div:last-child {

		left: calc(100% - 50px);
		height: 100px;
		width: 100px;

		 -moz-transform: scaleX(-1);
	    -o-transform: scaleX(-1);
	    -webkit-transform: scaleX(-1);
	    transform: scaleX(-1);
	    filter: FlipH;
	    -ms-filter: "FlipH";

	    background: url("/images/bd2.png") no-repeat;


	}

}


.about {

	background-color: #A13939;

	position: relative;

	border: 4px solid #e54e4e;
	border-bottom: none;

	font-size: 15px;
    padding: 30px 0px 60px;

    flex: 1;

}

.about > h3 {

	text-align: center;
	margin: 30px auto;
}

.about-columns {

    display: flex;
    flex-flow: column;
	align-items: center;
}



.column {

	// display: inline-block;

	font-family: 'Alegreya';
	font-weight: bold;
	font-size: 20px;

	color: #ffdeb7;
	text-shadow: 2px 2px 0px #000000;
	line-height: 25px;

	text-align: center;

	vertical-align: text-top;

	max-width: 400px;
	margin: 10px 0px;
	padding: 20px;

}


footer {

	font-family: 'Open Sans';

	background: #2d0f0f;
	border: 4px solid #633232;
	border-bottom: none;

	padding: 20px;
	color: #999999;

	hr {

		border-color: #606060;

	}


	span {

		display: block;
		margin-top: 5px;

	}

	ol {

		padding: 20px;


		li {

			padding: 5px 20px;
			background: #260808;
			border: 1px solid black;
			border-top: 2px solid #2d0f0f;
			border-bottom: 1px solid black;

		}
	}

	div {

		padding: 20px;
	}

}


.footer-columns {

	display: flex;
	flex-flow: column;

	text-align: center;
}


body {
	max-width: $max-width;
	margin: auto;
}



// Responsive design


@media (min-width: 600px) {

	.footer-columns {

		flex-flow: row;
		justify-content: space-between;

	}


	.about-columns {

		flex-flow: row;
		justify-content: center;

	}

}


@media (min-width: $max-width) {
	
	$radius: 25px;

	.about {

		border-radius: $radius $radius 0 0;

	}
}



*, *:before, *:after
{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}


// Nav bar

nav h1, nav h2 {

	display: inline-block;
	height: 100%;

	padding: 15px;

	margin: 0px;

}

nav h1 {

	font-size: 40px;
	background: #A13939;
	border-right: 4px solid #772929;
	border-left: 4px solid #772929;

	line-height: 50px;

	@include red-gradient;

}


nav h2 {

	font-size: 25px;

	@include red-gradient;

	padding: 30px;

	border-right: 4px solid #772929;
	border-left: 4px solid #e54e4e;


}


nav {

	width: 100%;
	max-width: $max-width;

	background: rgba(255, 255, 255, 0.8);

	position: fixed;
	top: 0;

	-webkit-transform: translate3d(0, 0, 0);
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;


	z-index: 999;

	min-height: 75px;

	border-bottom: 4px solid #772929;

}

nav hgroup {

	display: flex;
	justify-content: flex-start;
}


nav hgroup h2 {
	flex: 1;
}





//// Spinner


.connecting {

	display: inline-block; 
	margin: 75px 0;
	
	text-align: center;

}

.connecting-text {
	margin: 0px 40px;
}



.spinner {
  width: 40px;
  height: 40px;
  background-color: #333;

  margin: 0 auto;
  margin-top: 30px;

  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}




// Main app styling

.main {

	margin-top: $header-height;
	padding-bottom: 50px;

	font-family: 'Catamaran';
	background: white;

	z-index: 2;

	position: relative;


	h3 {

		font-family: 'Arial';
		text-shadow: none;
		color: #919191;
		
		font-size: 35px;
	}

}

.waveform {

	background: #f0f0f0;
	width: 100%;
	height: 200px;

}


.controls {

	font-size: 30px;
	padding: 30px;

	letter-spacing: 20px;

	text-align: center;

}


.now-playing {

	margin-top: 30px;

	display: flex;
	flex-flow: column;

	box-shadow: 0px 10px 15px #bbbbbb;
	
	$min-width: 820px;
	$border: 1px solid #4d4d4d;

	
	
	.left-column {

		display: flex;
		flex-flow: row;

		flex: 1;

		border-bottom: $border;


		.text {

			background: url("/images/bg_light.png"), #191919;
			color: #c4c4c4;
			padding: 20px;

			border-right: $border;

			display: flex;

			font-size: 20px;
			text-shadow: 1px 1px 1px black;

			h4 {
				margin: auto;
			}

		}


		.controls {

			background: url("/images/bg_light.png"), #050505;

			color: #c4c4c4;

			text-shadow: 0.7px 0.7px 0px white, 4px 4px 4px black;

			i, input {
	
				position: relative;
				z-index: 2;
			}

		}


		.text, .controls {

			flex: 1;

		}


		@media (min-width: $min-width) {

			flex-flow: column;
			border-right: $border;


			.text {

				border-right: none;
				border-bottom: $border;

			}

		}

	}


	.right-column {

		flex: 2;
	
		background: url("/images/bg_light.png"), #101010;
		padding: 15px;


		th {

			color: #3f3f3f;
			text-shadow: 1px 1px 0px black;

		}

		td {

			color: #dfdfdf;

		}

		tr:first-child td {
			text-decoration-color: #555555;
		}

	}


	@media (min-width: $min-width) {

		flex-flow: row;

	}



	margin-top: 20px;
	border-top: $border;
	position: relative;

	&:before {

		content: '';

		position: absolute;
		width: 100%;
		margin-top: -20px;

		border-bottom: 20px solid #cccccc;
		border-left: 50px solid white;
		border-right: 50px solid white;
		height: 0;

	}

}


.clip-data {
	
	margin: auto;
	margin-top: 15px;

	th {
		text-align: right;
	}

	td {

		padding: 15px;
		padding-top: 0px;

		text-align: left;
		min-width: 300px;
	}

	tr:first-child td {
		
		text-decoration: underline;

	}
}


.history, .detail, .not-found, .upload {

	text-align: left;
	padding: 30px;

}

.not-found {

	text-align: center;

	&>* {
		display: inline;
	}

	i {
	
		font-size: 30px;
		margin-left: 20px;
		color: #919191;

	}

}


.history {

	margin-top: 20px;

	h3 {
	
		display: inline;

	}

	&>span {
		margin-left: 15px;
	}

	span {

		font-size: 23px;
		color: #919191;

		a {
			margin: none;
			text-decoration: none;
		}



		.full-history, .submit-clip {

			text-decoration: none;

		}

		.full-history {

			color: #8e9bff;

		}

		.submit-clip {

			color: #9cd262;

		}

	}

}

.grey-shadow {

	background: url("/images/bg_light.png"), #f3f3f3;
	box-shadow: 5px 5px 0px #dddddd;
	border: 1px solid #dedede;

}


.history, .detail {


	th {
		color: #bdbdbd;
		text-shadow: 1px 1px #ffffff;
	}


	td {

		color: #757575;

	}

	tr:first-child td {
		text-decoration-color: #d2d2d2;
	}
}


.history-columns {

	margin-top: 30px;

	button {

		padding: 15px;
		margin: 30px auto;
		margin-bottom: 0;
		

	}

	&>div {

		margin: 0 auto;

		max-width: 850px;
		display: flex; 
		flex-flow: row wrap;
		justify-content: flex-start;

	}

	&>div>div:last-child {

		text-align: center;
		width: 100%;

	}

}


.history-item, .clip-item, .upload-methods>div {

	background: url("/images/bg_light.png"), #f3f3f3;
	border: 1px solid #dedede;

	padding: 20px;

}



.history-item {
	
	width: 425px;

	position: relative;


	i {

		position: absolute;
		z-index: 10;
		font-size: 30px;
		color: #dddddd;


	}

	&:first-child div i {
	
		right: auto;
		left: 0;
		top: 50%;

		@include transform(translate(-60%, -50%));
		text-shadow: 1px 1px 0 white, 1px 1px 1.5px #777777;

	}


	@media (min-width: 925px) {
		
		&:nth-child(2n) i {
		
			right: auto;
			left: 0;
			top: 50%;

			@include transform(translate(-60%, -50%));
			text-shadow: 1px 1px 0 white, 1px 1px 1.5px #777777;

		}

		&:nth-child(2n+1) i {

			@include transform(rotate(135deg) translate(-60%, 0));
		
			left: auto;
			top: 0;
			right: 0;

			text-shadow: 0px -1.5px 0 white, 0px -1px 1.5px #777777;

		}

	}
	

	@media (max-width: 924px) {

		i {

			@include transform(translate(-50%, -50%) rotate(90deg));

			text-shadow: 1px -1px 0 white, 1px -1px 1.5px #777777;

			top: 0;
			right: auto;
			left: 50%;


		}


	}


}


.clip-item {


	$wing-thickness: 20px;


	margin: 20px + $wing-thickness auto;
	position: relative;

	width: calc(100% - 30px);


	&:before {

		content: "";
		position: absolute;
	
		background: #aaaaaa;

		top: 0px;
		left: 0px;
		margin-top: $wing-thickness * -1;

		width: 100%;
		height: 0;

		border-bottom: $wing-thickness solid #cccccc;
		border-left: 50px solid white;
		border-right: 50px solid white;

	}


	box-shadow: 0px 10px 15px #dddddd;


}


.detail {

	th {
		
		width: 100px;

	}

	h3 span {

		color: #8e9bff;

	}


	.controls {

		width: 250px;
		color: #222222;
		margin: auto;
	
	}


	.prev-next {

		display: flex;
		flex-flow: row wrap;

		justify-content: space-around;


		&>div {
	
			// min-width: 450px;
			// max-width: 450px;

			margin-top: 30px;

			width: 450px;


			
			.history-item:first-child div i {
			
				right: auto;
				left: 0;
				top: 50%;

				@include transform(translate(-60%, -50%));
				text-shadow: 1px 1px 0 white, 1px 1px 1.5px #777777;

			}


			i {

				@include transform(translate(-50%, -50%) rotate(90deg));

				text-shadow: 1px -1px 0 white, 1px -1px 1.5px #777777;

				top: 0;
				right: auto;
				left: 50%;


			}

		}



	}

}


.upload {

	.upload-methods {

		margin-top: 50px;

		display: flex;
		justify-content: space-around;

		font-size: 100px;
		text-shadow: 1px 1px 0px white, 1px 1px 1px black;


		div {

			width: 200px;
			height: 200px;

			display: flex;

			&>* {

				margin: auto;

			}

		}

	}

	
	.item-circle {
		
		width: 80px;
		height: 80px;
		border-radius: 40px;

		background: url("/images/bg.png") repeat, #A13939;

		line-height: 80px;
		text-align: center;

		color: #FCC88A;
		text-shadow: 1px 1px #ffdfba, 1px 3px 5px #000000;

		font-weight: bold;

		font-size: 35px;

		box-shadow: 0.5px 0.5px 0px white, 1px 2px 1px black;

		margin: 30px auto;
	
	}


	form {

		margin-top: 15px;

		display: flex;
		flex-flow: row wrap;

	}

	form label {

		margin-top: 20px;

		flex: 1;

		min-width: 300px;

	}

	.author input {

		border-left: 1px solid #cccccc;

	}

	
	.description {
		
		min-width: 100%;

		input {
			font-size: 17px;
		}
	}

	span {
		margin-left: 10px;
		color: #333333;
	}

	
	input {

		border: none;
		padding: 15px;

		width: 100%;

		border-bottom: 1px solid #cccccc;

		font-size: 20px;


	}

	.title input::placeholder {

		color: pink;

	}

	input:focus {

		outline: 0;
		border-bottom: 1px solid #999999;

	}

	input::placeholder {

		color: #cccccc;

	}
		

	input[type='submit'] {

		margin: auto;
		width: 150px;

		margin-top: 15px;

	}

}